rayannadossantosantana2D18092024
body {
    background-color: rgb(19 5 3);
    color: beige;
    font-family: 'Rufina';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0px;
}

button {
    background-color: rgb(188, 74, 51);
    color: beige;
    font-family: 'Rufina';
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    max-width: 90%;
    text-align:center;

}

img{
    max-width: 90%;
}
